@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Open+Sans:wght@508&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,800;0,900;1,700;1,800;1,900&family=Roboto+Condensed&family=Roboto:wght@300;700&family=Spectral:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Open+Sans:wght@508&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,800;0,900;1,700;1,800;1,900&family=Roboto+Condensed&family=Roboto:wght@300;700&family=Rubik:wght@500&family=Spectral:wght@700&display=swap');

body{
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
    overflow:hidden;
}

.home{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*.home-list{
    padding: 1rem;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FF9301;
    padding: 2rem;
    height: 700px;
    width: 100%;
}*/
.home-list-1{
    margin: 30px;
    padding: 2rem;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}
.home-list-2{
    background-color: #ff9301;
    height: 100%;
    padding: 6rem;
}

.home-list-2 img{
    border-radius: 20px;
}

.home-list-1 h1{
    margin: 0%;
    padding: 0%;
    margin-bottom: 10px;
    font-size:3.5rem;
    font-weight: 500;
}
.home-list-1 p{
    margin: 0%;
    padding: 0%;

}
.home-list-1 a{
    text-decoration: none;
    color: #f9f9f9;
    padding: .5rem 1rem;
    margin: 20px;
    font-weight: 200;
    font-size: 20px;
    border:1px solid #ff9301;
    border-radius: 20px;  
}
.home-list-1 a:hover{
    transition: 0.3s;
    color: black;
    border: none;
    background-color: #ff9301;
}
.home-list-1 a:not(:hover){
    transition: 0.3s;
}
.home-list-1 img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.home-list-1 img:not(:hover){
    transition: 0.4s;
}
#let-color{
    color: #ff9301;
}
.me-img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.me-img:not(:hover){
    transition: 0.4s;
}s
